<div class="container">
  <div class="row">
    <img
      src="/images/pedidoOK.jpg"
      style="width: 200px; height: 200px"
      alt="..."
    />
  </div>

  <div class="row">
    <div class="col">
      <h5>
        Pago del pedido con id:
        {{ (PedidoFinalizado$ | async)!.idPedido }}realizado correctamente
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        Has pagado {{ (PedidoFinalizado$ | async)!.totalPedido }} € en fecha:
        {{ (PedidoFinalizado$ | async)!.fechaPedido }} en Agapea.com
      </p>
      <p>
        Se te ha mandado un email a: <span style="color: aqua"></span> con la
        factura del mismo (consulta la bandeja de entrada de tu correo o el spam
        por si acaso.)
      </p>
      <br />
      <p>
        Accede al panel de tu USUARIO para ver la lista de pedidos que has hecho
        en la tienda.
      </p>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <button class="btn btn-success btn-lg">IR A MI PANEL</button>
  </div>
</div>
